<div id="footer">
    <div class="container">
        <div class="inner align-center">
            <h1>{{ 'fotter.interested'|translate }}</h1>
            <p class="description align-center">
                {{ 'fotter.discord'|translate }} <a href="https://discord.gg/qdRMt2m">Discord</a>!<br>
                {{ 'fotter.github'|translate }} <a href="https://github.com/MinecraftPlus">GitHub</a>.
            </p>
        </div>
        <div id="lang">
            {% for language, display_name in languages %}
                <a href="{{ language|link }}/{{ meta["pid"] }}">
                    <img class="flag-icon {% if language == current_language %}active{% endif %}" src="{{ theme_url }}/img/flags/{{language}}.png">
                </a>
            {% endfor %}
        </div>
    </div>
</div>
